@import "./normalize.css";
:root {
    --color-border: rgba(102, 102, 102, 0.4);
    --color-text: rgb(102, 102, 102);
    --color-high-text: rgb(75, 175, 80);
    --color-tint: rgb(75, 175, 80);
    --color-body: rgb(250, 246, 247);
    --color-background-one: rgb(237, 248, 238);
    --color-black: #1D1D1F;
    --color-background: rgb(245, 245, 245);
    --font-size: 18px;
    --font-size-small: 14px;
    --font-size-big: 20px;
    --font-size-very-big: 30px;
    --line-height: 1.5;
}

body {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
    user-select: none;
    /* 禁止用户鼠标在页面上选中文字/图片等 */
    -webkit-tap-highlight-color: transparent;
    /* webkit是苹果浏览器引擎，tap点击，highlight背景高亮，color颜色，颜色用数值调节 */
    background: var(--color-body);
    color: var(--color-text);
    /* rem vw/vh */
    width: 100vw;
    overflow-y: scroll;
    overflow-x: hidden;
}

a {
    color: var(--color-text);
    text-decoration: none;
}

.clear-fix::after {
    clear: both;
    content: '';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
}

.clear-fix {
    zoom: 1;
}

.left {
    float: left;
}

.right {
    float: right;
}


/* 正文字体样式 */

.main-text {
    font-size: var(--font-size);
    text-indent: 2em;
    letter-spacing: 0.1em;
    line-height: 1.4;
    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.title-text {
    font-size: var(--font-size-big);
    letter-spacing: 0.1em;
    line-height: 1.4;
    color: black;
}

.tag-text {
    font-size: var(--font-size);
    letter-spacing: 0.1em;
    line-height: 1.4;
    color: black;
}

input {
    outline-style: none;
    border: 1px solid rgba(102, 102, 102, 0.4);
}

input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(75, 175, 80, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px rgba(75, 175, 80, 0.6);
    transition: -webkit-box-shadow 0.2s;
    transition: box-shadow 0.2s;
    transition-timing-function: ease-in-out;
}